.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80vw;
}

.quiz-name {
    font-family: monospace;
    font-size: 15pt;
}

.BackButton {
    border: none;
}

img {
    height: 30px;
    width: 30px;
}