.answer-box {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 50vw;
}

.answer {
    width: 100%;
    margin: 5px;
    border: 1px solid lightgray;
    background-color: lightgray;
    padding: 8px;
    border-radius: 25px
}



